<a href="https://colab.research.google.com/github/KoshiBG/Python_for_data_analysis/blob/main/%D0%9A%D0%BE%D0%BF%D1%96%D1%8F_%D0%B7%D0%B0%D0%BF%D0%B8%D1%81%D0%BD%D0%B8%D0%BA%D0%B0_%22hw_3_4_apply%2C_groupby%2C_pivot_table_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Домашнє завдання до тем apply(), groupby(), pivot_table()

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [3]:
import pandas as pd

In [4]:
data_path = '../content/drive/MyDrive/code/data/supermarket_sales.csv'
df = pd.read_csv(data_path)

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [4]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [22]:
 #Групування за філіалом і обчислення сумарного прибутку

total_income_by_branch = df.groupby('Branch')['gross income'].sum()
max_income_branch = total_income_by_branch.idxmax()
max_income = total_income_by_branch.max()
total_income_by_branch

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

In [28]:
display(f' Філія з максимальним прибутком: {max_income_branch}, Прибуток : {round(max_income, 2)} ')

' Філія з максимальним прибутком: C, Прибуток : 5265.18 '

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [38]:
# Групування за філіалом і містом та обчислення сумарного прибутку

total_income_by_branch_city = df.groupby(['Branch', 'City'])['gross income'].sum()

# Знаходимо філіал та місто з найвищим прибутком

max_income_branch_city = total_income_by_branch_city.idxmax()
max_income_branch_city

('C', 'Naypyitaw')

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [41]:
invoices_by_category = pd.pivot_table(df,
                                      values='Invoice ID',
                                      index='Branch',
                                      columns='Product line',
                                      aggfunc='count',
                                      fill_value=0)
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [43]:
max_branch = invoices_by_category['Electronic accessories'].idxmax()
max_branch

'A'

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌


#                      Формулювання питань (гіпотез)
1. Часові тренди продажів:

 Питання: У які дні тижня та в який час доби здійснюється найбільше та найменше покупок? Чи є пікові години або дні, коли продажі особливо високі або низькі?

 Гіпотеза: Можливо, певні дні тижня або години дня приносять більше доходу, ніж інші. Це може бути пов’язано з робочим графіком користувачів, наявністю знижок або іншими факторами.

2. Тип клієнта та покупки:

 Питання: Яка різниця в середньому чеку між постійними клієнтами (Member) і новими  клієнтами (Normal)? Чи постійні клієнти витрачають більше за одну покупку?

Гіпотеза: Постійні клієнти, ймовірно, мають вищий середній чек, оскільки вони більш лояльні до бренду та можуть частіше робити покупки або купувати дорожчі товари.

3. Зв'язок між типом оплати та середнім чеком:

 Питання: Чи є різниця в середньому чеку в залежності від способу оплати (наприклад, готівка, кредитна картка, електронний гаманець)?

 Гіпотеза: Спосіб оплати може впливати на середній чек. Наприклад, користувачі, які використовують кредитні картки, можуть бути схильні витрачати більше, ніж ті, хто платить готівкою.

**1.Часові тренди продажу**

In [20]:
# Конвертуємо колонку 'Date' у формат datetime
df['Date'] = pd.to_datetime(df['Date'])

# Додаємо нову колонку 'Day_of_Week', яка містить день тижня
df['Day_of_Week'] = df['Date'].dt.day_name()

# Групування даних за днем тижня та часом
sales_by_day_time = df.groupby(['Day_of_Week', 'Time'])['gross income'].sum().head()

display(sales_by_day_time)

Day_of_Week  Time
Friday       10:08     3.5575
             10:11    23.4485
             10:12     9.6580
             10:22    22.7400
             10:25    43.9350
Name: gross income, dtype: float64

Сортування доходу в залежності від дня та часу продажу.

In [21]:
# Знаходимо максимальне значення gross income
max_gross_income = df['gross income'].max()

# Фільтруємо рядки, де значення gross income дорівнює максимальному
max_gross_income_times = df[df['gross income'] == max_gross_income]

display(max_gross_income_times[['Day_of_Week', 'Time', 'gross income']])

    Day_of_Week   Time  gross income
350      Friday  14:53         49.65

День тижня та час з максимальним gross income. Можливо в п'ятницю після 15-00 треба збільшити кількість акційних товарів

**2. Тип клієнта та покупки:**

In [26]:
# Групування даних за типом клієнта та обчислення середнього чеку

average_check_by_customer_type = df.groupby('Customer type')['Total'].mean()
display(average_check_by_customer_type)

Customer type
Member    327.791305
Normal    318.122856
Name: Total, dtype: float64

Постійні клієнти мають більший чек. Можливо треба зробити кроки, до збільшення кількості постійних клієнтів.

**3. Зв'язок між типом оплати та середнім чеком**

In [27]:
# Групування даних за типом оплати та обчислення середнього чеку

average_check_by_payment = df.groupby('Payment')['Total'].mean()
display(average_check_by_payment)

Payment
Cash           326.181890
Credit card    324.009878
Ewallet        318.820600
Name: Total, dtype: float64

Оскільки готівкої оплати найбільше, можливо треба зробити додаткові акції на товари з готівковим розрахунком, та збільшити кількість касирів.