<a href="https://colab.research.google.com/github/KoshiBG/Python_for_data_analysis/blob/main/%D0%9A%D0%BE%D0%BF%D1%96%D1%8F_%D0%B7%D0%B0%D0%BF%D0%B8%D1%81%D0%BD%D0%B8%D0%BA%D0%B0_%22hw_3_4_apply%2C_groupby%2C_pivot_table_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [3]:
import pandas as pd

In [4]:
data_path = '../content/drive/MyDrive/code/data/supermarket_sales.csv'
df = pd.read_csv(data_path)

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [4]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [22]:
 #–ì—Ä—É–ø—É–≤–∞–Ω–Ω—è –∑–∞ —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –æ–±—á–∏—Å–ª–µ–Ω–Ω—è —Å—É–º–∞—Ä–Ω–æ–≥–æ –ø—Ä–∏–±—É—Ç–∫—É

total_income_by_branch = df.groupby('Branch')['gross income'].sum()
max_income_branch = total_income_by_branch.idxmax()
max_income = total_income_by_branch.max()
total_income_by_branch

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

In [28]:
display(f' –§—ñ–ª—ñ—è –∑ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º: {max_income_branch}, –ü—Ä–∏–±—É—Ç–æ–∫ : {round(max_income, 2)} ')

' –§—ñ–ª—ñ—è –∑ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º: C, –ü—Ä–∏–±—É—Ç–æ–∫ : 5265.18 '

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [38]:
# –ì—Ä—É–ø—É–≤–∞–Ω–Ω—è –∑–∞ —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –º—ñ—Å—Ç–æ–º —Ç–∞ –æ–±—á–∏—Å–ª–µ–Ω–Ω—è —Å—É–º–∞—Ä–Ω–æ–≥–æ –ø—Ä–∏–±—É—Ç–∫—É

total_income_by_branch_city = df.groupby(['Branch', 'City'])['gross income'].sum()

# –ó–Ω–∞—Ö–æ–¥–∏–º–æ —Ñ—ñ–ª—ñ–∞–ª —Ç–∞ –º—ñ—Å—Ç–æ –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º

max_income_branch_city = total_income_by_branch_city.idxmax()
max_income_branch_city

('C', 'Naypyitaw')

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [41]:
invoices_by_category = pd.pivot_table(df,
                                      values='Invoice ID',
                                      index='Branch',
                                      columns='Product line',
                                      aggfunc='count',
                                      fill_value=0)
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [43]:
max_branch = invoices_by_category['Electronic accessories'].idxmax()
max_branch

'A'

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå


#                      –§–æ—Ä–º—É–ª—é–≤–∞–Ω–Ω—è –ø–∏—Ç–∞–Ω—å (–≥—ñ–ø–æ—Ç–µ–∑)
1. –ß–∞—Å–æ–≤—ñ —Ç—Ä–µ–Ω–¥–∏ –ø—Ä–æ–¥–∞–∂—ñ–≤:

 –ü–∏—Ç–∞–Ω–Ω—è: –£ —è–∫—ñ –¥–Ω—ñ —Ç–∏–∂–Ω—è —Ç–∞ –≤ —è–∫–∏–π —á–∞—Å –¥–æ–±–∏ –∑–¥—ñ–π—Å–Ω—é—î—Ç—å—Å—è –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–∞ –Ω–∞–π–º–µ–Ω—à–µ –ø–æ–∫—É–ø–æ–∫? –ß–∏ —î –ø—ñ–∫–æ–≤—ñ –≥–æ–¥–∏–Ω–∏ –∞–±–æ –¥–Ω—ñ, –∫–æ–ª–∏ –ø—Ä–æ–¥–∞–∂—ñ –æ—Å–æ–±–ª–∏–≤–æ –≤–∏—Å–æ–∫—ñ –∞–±–æ –Ω–∏–∑—å–∫—ñ?

 –ì—ñ–ø–æ—Ç–µ–∑–∞: –ú–æ–∂–ª–∏–≤–æ, –ø–µ–≤–Ω—ñ –¥–Ω—ñ —Ç–∏–∂–Ω—è –∞–±–æ –≥–æ–¥–∏–Ω–∏ –¥–Ω—è –ø—Ä–∏–Ω–æ—Å—è—Ç—å –±—ñ–ª—å—à–µ –¥–æ—Ö–æ–¥—É, –Ω—ñ–∂ —ñ–Ω—à—ñ. –¶–µ –º–æ–∂–µ –±—É—Ç–∏ –ø–æ–≤‚Äô—è–∑–∞–Ω–æ –∑ —Ä–æ–±–æ—á–∏–º –≥—Ä–∞—Ñ—ñ–∫–æ–º –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ–≤, –Ω–∞—è–≤–Ω—ñ—Å—Ç—é –∑–Ω–∏–∂–æ–∫ –∞–±–æ —ñ–Ω—à–∏–º–∏ —Ñ–∞–∫—Ç–æ—Ä–∞–º–∏.

2. –¢–∏–ø –∫–ª—ñ—î–Ω—Ç–∞ —Ç–∞ –ø–æ–∫—É–ø–∫–∏:

 –ü–∏—Ç–∞–Ω–Ω—è: –Ø–∫–∞ —Ä—ñ–∑–Ω–∏—Ü—è –≤ —Å–µ—Ä–µ–¥–Ω—å–æ–º—É —á–µ–∫—É –º—ñ–∂ –ø–æ—Å—Ç—ñ–π–Ω–∏–º–∏ –∫–ª—ñ—î–Ω—Ç–∞–º–∏ (Member) —ñ –Ω–æ–≤–∏–º–∏  –∫–ª—ñ—î–Ω—Ç–∞–º–∏ (Normal)? –ß–∏ –ø–æ—Å—Ç—ñ–π–Ω—ñ –∫–ª—ñ—î–Ω—Ç–∏ –≤–∏—Ç—Ä–∞—á–∞—é—Ç—å –±—ñ–ª—å—à–µ –∑–∞ –æ–¥–Ω—É –ø–æ–∫—É–ø–∫—É?

–ì—ñ–ø–æ—Ç–µ–∑–∞: –ü–æ—Å—Ç—ñ–π–Ω—ñ –∫–ª—ñ—î–Ω—Ç–∏, –π–º–æ–≤—ñ—Ä–Ω–æ, –º–∞—é—Ç—å –≤–∏—â–∏–π —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫, –æ—Å–∫—ñ–ª—å–∫–∏ –≤–æ–Ω–∏ –±—ñ–ª—å—à –ª–æ—è–ª—å–Ω—ñ –¥–æ –±—Ä–µ–Ω–¥—É —Ç–∞ –º–æ–∂—É—Ç—å —á–∞—Å—Ç—ñ—à–µ —Ä–æ–±–∏—Ç–∏ –ø–æ–∫—É–ø–∫–∏ –∞–±–æ –∫—É–ø—É–≤–∞—Ç–∏ –¥–æ—Ä–æ–∂—á—ñ —Ç–æ–≤–∞—Ä–∏.

3. –ó–≤'—è–∑–æ–∫ –º—ñ–∂ —Ç–∏–ø–æ–º –æ–ø–ª–∞—Ç–∏ —Ç–∞ —Å–µ—Ä–µ–¥–Ω—ñ–º —á–µ–∫–æ–º:

 –ü–∏—Ç–∞–Ω–Ω—è: –ß–∏ —î —Ä—ñ–∑–Ω–∏—Ü—è –≤ —Å–µ—Ä–µ–¥–Ω—å–æ–º—É —á–µ–∫—É –≤ –∑–∞–ª–µ–∂–Ω–æ—Å—Ç—ñ –≤—ñ–¥ —Å–ø–æ—Å–æ–±—É –æ–ø–ª–∞—Ç–∏ (–Ω–∞–ø—Ä–∏–∫–ª–∞–¥, –≥–æ—Ç—ñ–≤–∫–∞, –∫—Ä–µ–¥–∏—Ç–Ω–∞ –∫–∞—Ä—Ç–∫–∞, –µ–ª–µ–∫—Ç—Ä–æ–Ω–Ω–∏–π –≥–∞–º–∞–Ω–µ—Ü—å)?

 –ì—ñ–ø–æ—Ç–µ–∑–∞: –°–ø–æ—Å—ñ–± –æ–ø–ª–∞—Ç–∏ –º–æ–∂–µ –≤–ø–ª–∏–≤–∞—Ç–∏ –Ω–∞ —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫. –ù–∞–ø—Ä–∏–∫–ª–∞–¥, –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ, —è–∫—ñ –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—Ç—å –∫—Ä–µ–¥–∏—Ç–Ω—ñ –∫–∞—Ä—Ç–∫–∏, –º–æ–∂—É—Ç—å –±—É—Ç–∏ —Å—Ö–∏–ª—å–Ω—ñ –≤–∏—Ç—Ä–∞—á–∞—Ç–∏ –±—ñ–ª—å—à–µ, –Ω—ñ–∂ —Ç—ñ, —Ö—Ç–æ –ø–ª–∞—Ç–∏—Ç—å –≥–æ—Ç—ñ–≤–∫–æ—é.

**1.–ß–∞—Å–æ–≤—ñ —Ç—Ä–µ–Ω–¥–∏ –ø—Ä–æ–¥–∞–∂—É**

In [20]:
# –ö–æ–Ω–≤–µ—Ä—Ç—É—î–º–æ –∫–æ–ª–æ–Ω–∫—É 'Date' —É —Ñ–æ—Ä–º–∞—Ç datetime
df['Date'] = pd.to_datetime(df['Date'])

# –î–æ–¥–∞—î–º–æ –Ω–æ–≤—É –∫–æ–ª–æ–Ω–∫—É 'Day_of_Week', —è–∫–∞ –º—ñ—Å—Ç–∏—Ç—å –¥–µ–Ω—å —Ç–∏–∂–Ω—è
df['Day_of_Week'] = df['Date'].dt.day_name()

# –ì—Ä—É–ø—É–≤–∞–Ω–Ω—è –¥–∞–Ω–∏—Ö –∑–∞ –¥–Ω–µ–º —Ç–∏–∂–Ω—è —Ç–∞ —á–∞—Å–æ–º
sales_by_day_time = df.groupby(['Day_of_Week', 'Time'])['gross income'].sum().head()

display(sales_by_day_time)

Day_of_Week  Time
Friday       10:08     3.5575
             10:11    23.4485
             10:12     9.6580
             10:22    22.7400
             10:25    43.9350
Name: gross income, dtype: float64

–°–æ—Ä—Ç—É–≤–∞–Ω–Ω—è –¥–æ—Ö–æ–¥—É –≤ –∑–∞–ª–µ–∂–Ω–æ—Å—Ç—ñ –≤—ñ–¥ –¥–Ω—è —Ç–∞ —á–∞—Å—É –ø—Ä–æ–¥–∞–∂—É.

In [21]:
# –ó–Ω–∞—Ö–æ–¥–∏–º–æ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–µ –∑–Ω–∞—á–µ–Ω–Ω—è gross income
max_gross_income = df['gross income'].max()

# –§—ñ–ª—å—Ç—Ä—É—î–º–æ —Ä—è–¥–∫–∏, –¥–µ –∑–Ω–∞—á–µ–Ω–Ω—è gross income –¥–æ—Ä—ñ–≤–Ω—é—î –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–º—É
max_gross_income_times = df[df['gross income'] == max_gross_income]

display(max_gross_income_times[['Day_of_Week', 'Time', 'gross income']])

    Day_of_Week   Time  gross income
350      Friday  14:53         49.65

–î–µ–Ω—å —Ç–∏–∂–Ω—è —Ç–∞ —á–∞—Å –∑ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∏–º gross income. –ú–æ–∂–ª–∏–≤–æ –≤ –ø'—è—Ç–Ω–∏—Ü—é –ø—ñ—Å–ª—è 15-00 —Ç—Ä–µ–±–∞ –∑–±—ñ–ª—å—à–∏—Ç–∏ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –∞–∫—Ü—ñ–π–Ω–∏—Ö —Ç–æ–≤–∞—Ä—ñ–≤

**2. –¢–∏–ø –∫–ª—ñ—î–Ω—Ç–∞ —Ç–∞ –ø–æ–∫—É–ø–∫–∏:**

In [26]:
# –ì—Ä—É–ø—É–≤–∞–Ω–Ω—è –¥–∞–Ω–∏—Ö –∑–∞ —Ç–∏–ø–æ–º –∫–ª—ñ—î–Ω—Ç–∞ —Ç–∞ –æ–±—á–∏—Å–ª–µ–Ω–Ω—è —Å–µ—Ä–µ–¥–Ω—å–æ–≥–æ —á–µ–∫—É

average_check_by_customer_type = df.groupby('Customer type')['Total'].mean()
display(average_check_by_customer_type)

Customer type
Member    327.791305
Normal    318.122856
Name: Total, dtype: float64

–ü–æ—Å—Ç—ñ–π–Ω—ñ –∫–ª—ñ—î–Ω—Ç–∏ –º–∞—é—Ç—å –±—ñ–ª—å—à–∏–π —á–µ–∫. –ú–æ–∂–ª–∏–≤–æ —Ç—Ä–µ–±–∞ –∑—Ä–æ–±–∏—Ç–∏ –∫—Ä–æ–∫–∏, –¥–æ –∑–±—ñ–ª—å—à–µ–Ω–Ω—è –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ø–æ—Å—Ç—ñ–π–Ω–∏—Ö –∫–ª—ñ—î–Ω—Ç—ñ–≤.

**3. –ó–≤'—è–∑–æ–∫ –º—ñ–∂ —Ç–∏–ø–æ–º –æ–ø–ª–∞—Ç–∏ —Ç–∞ —Å–µ—Ä–µ–¥–Ω—ñ–º —á–µ–∫–æ–º**

In [27]:
# –ì—Ä—É–ø—É–≤–∞–Ω–Ω—è –¥–∞–Ω–∏—Ö –∑–∞ —Ç–∏–ø–æ–º –æ–ø–ª–∞—Ç–∏ —Ç–∞ –æ–±—á–∏—Å–ª–µ–Ω–Ω—è —Å–µ—Ä–µ–¥–Ω—å–æ–≥–æ —á–µ–∫—É

average_check_by_payment = df.groupby('Payment')['Total'].mean()
display(average_check_by_payment)

Payment
Cash           326.181890
Credit card    324.009878
Ewallet        318.820600
Name: Total, dtype: float64

–û—Å–∫—ñ–ª—å–∫–∏ –≥–æ—Ç—ñ–≤–∫–æ—ó –æ–ø–ª–∞—Ç–∏ –Ω–∞–π–±—ñ–ª—å—à–µ, –º–æ–∂–ª–∏–≤–æ —Ç—Ä–µ–±–∞ –∑—Ä–æ–±–∏—Ç–∏ –¥–æ–¥–∞—Ç–∫–æ–≤—ñ –∞–∫—Ü—ñ—ó –Ω–∞ —Ç–æ–≤–∞—Ä–∏ –∑ –≥–æ—Ç—ñ–≤–∫–æ–≤–∏–º —Ä–æ–∑—Ä–∞—Ö—É–Ω–∫–æ–º, —Ç–∞ –∑–±—ñ–ª—å—à–∏—Ç–∏ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –∫–∞—Å–∏—Ä—ñ–≤.